<div class="form">
  <div class="top-bar">
      <h2><%= contribution.title%></h2>
      <ul class = "more-list">
        <%= link_to(contribution_path(contribution.id), method: :get) do %>
          <button class="link">詳細</button>
        <% end %>
      <% if user_signed_in? && current_user.id == contribution.user_id %>
        <%= link_to(edit_contribution_path(contribution.id), method: :get) do %>
          <button class="link">編集</button>
        <% end %>
        <%= link_to(contribution_path(contribution.id), method: :delete) do %>
          <button class="link">削除</button>
        <% end %>
      <% end %>
      </ul>
  </div>
  <div class="main-bar">
    <div class="text">
      <%= contribution.text %>
    </div>
    <div class= "user">
      <span class ="contributer">投稿者</span>
      <a class = "name" href="/users/<%= contribution.user.id %>">
        <%= contribution.user.nickname %>
      </a>
    </div>
  </div>
</div>

