<%= render "shared/header" %>
<div class="contents row">
  <% if user_signed_in? && current_user.id == @contribution.user_id %>
    <li>
      <%= link_to '編集', edit_contribution_path(@contribution.id), method: :get %>
      <%= link_to '削除', contribution_path(@contribution.id), method: :delete %>
    </li>
  <% end %>
  <p><%= @contribution.title%></p>
  <span class="text">
    <%= @contribution.text %>
  </span>
  <span class="name">
    <a href="/users/<%= @contribution.user.id %>">
      <span>投稿者</span><%= @contribution.user.nickname %>
    </a>
  </span>
</div>
<div class="container">
  <% if user_signed_in? %>
    <%= form_with(model: [@contribution, @comment], local: true) do |form| %>
      <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
      <%= form.submit "投稿する" %>
    <% end %>
  <% else %>
    <strong><p>コメントできません</p></strong>
  <% end %>
      <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
</div>